.gallery{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
}

@media (max-width: 1746px){
    .gallery{
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 1590px){
    .gallery{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1272px){
    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1035px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 798px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 475px){
    .gallery{
        grid-template-columns: repeat(1, 1fr);
    }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
}
